<div [ngClass]="['home-container', loading ? 'loading-container' : '']">
  <mat-spinner *ngIf="loading; else notLoading"></mat-spinner>
  <ng-template #notLoading>
    <div class="mat-headline-5">Musiques</div>
    <button mat-button color="primary" (click)="openDialog()">Ajouter</button>
    <div class="switch-container">
      <div class="home-switch-view">
        <button
          mat-raised-button
          [ngClass]="{ selected: !isCardView }"
          (click)="isCardView = false"
        >
          Vue liste
        </button>
        <button
          mat-raised-button
          [ngClass]="{ selected: isCardView }"
          (click)="isCardView = true"
        >
          Vue carte
        </button>
      </div>
    </div>
    <div class="movies-list-container" *ngIf="!isCardView">
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Duration</th>
          <th>Date</th>
          <th>Style</th>
          <th>Picture</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let music of musics">
          <td>{{ music.title }}</td>
          <td>{{ music.description ? music.description : "None" }}</td>
          <td>{{ music.album }}</td>
          <td>{{ music.artist }}</td>
          <td>{{ music.duration }}</td>
          <td>{{ music.date | date : "dd/MM/yyyy" }}</td>
          <td>
            <div *ngFor="let style of music.styles">{{ style }}</div>
          </td>
          <td class="home-picture-container">
            <img mat-card-image [src]="music.picture" alt="{{ music.title }}" />
          </td>
          <td>
            <button mat-button color="primary" (click)="openDialog(music)">
              Edit
            </button>
            <button mat-button color="danger" (click)="deleteMusic(music.id)">
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="movies-container" *ngIf="isCardView">
      <app-card-music
        [music]="music"
        *ngFor="let music of musics"
        (updateMusicEvent)="openDialog(music)"
        (deleteMusicEvent)="deleteMusic(music.id)"
      ></app-card-music>
    </div>
  </ng-template>
</div>
